<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Die Styles.css muss aus allen HTML-Dateien verlinkt werden-->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <!--es gibt im internet dienste, die styles zur verfügung stellen font awsome-->
    <title>One-Bank</title>
</head>
<body>
    
    <header>
    
        <aglin><center><h1>Onebank</h1></center></aglin>
        <nav>


    <aglin><center> <a href="hilfe.html">Hilfe</a> 
        <i class="fa-solid fa-envelope"></i>    <a href="postfach.html">Postfach</a>
        <i class="fa-solid fa-user"></i>        <a href="profil.html">Profil</a>
        <i class="fa-solid fa-newspaper"></i>   <a href="agb.html">AGB</a>
       </center>
    </aglin>   
    
    
        </nav>
    
    </header>

    <!--Der Flex Container zeigt alle enthaltenen DIVs an. je nach auflösung werden die DIVs passend angeordnet.-->
    <div class="flex-container">
        <div><a href="Kontenübersciht.html">Kontenübersicht</a></div>
        <div><a href="überweisungAusführen.html">Überweisungen ausführen</a></div>
        <div><a href="Geldanlegen.html">Geld anlegen</a></div>  
        <div><a href="KreditBeantragen.html">Kredit Beantragen</a></div>
        <div>...</div>
        <div>...</div>
    </div>

<h1>Kontenübersicht</h1>
Inhalt der Seite








    <footer>
    <a>Social Media</a>
    <a href="www.twitter/One-Bank.com">twitter</a>
    <a href="www.Instagram/One-Bank.com">Instagram</a>



</footer>
</body>
</html>