<!--HTML-Gründgerüst über die Eingabe von HTML und dann HTML:5 auswählen-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <!--Der Titel steht im Browsertap-->
    <title>One-Bank - Login</title>



</head>
<body>

    <!--Der Header soll die Seite strukturieren-->
    <header>
        <!--Überschrift der Seite-->
       <h1>Willkommen Zur One-Banking app</h1>
    </header>

<!--Formularfelder (Textboxen,Button etc.) müssen in form-tags eingebetten werden-->

    <form>
        <!--Die Labels beschreiben die Textboxen. br bricht die Zeile um.-->
        <label>Benutzername</label><br>
            <input><br>
                <label>Kennwort</label><br>
                    <Input type="password"><br>
                        <button>Einloggen</button> 
                               
    </form>
         <a href="Passwort.html">Passwort Vergessen</a> 
<footer>
    &#169; 2024 One-Bank AG
</footer>





</body>





</html>